<h1>Welcome to One Month Rails!</h1>
<p>
  You've found the home page for the
  <%= link_to "One Month Rails", "http://onemonthrails.com" %>
  application.

  Buy why, some say, the moon? Why choose this as our goal? And they may as well ask why climb the highest mountain?

  Houston, Tranquillity Base here. The Eagle has landed.

  Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.

  We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.

  Problems look mighty small from 150 miles up.

  The Earth was small, light blue, and so touchingly alone, our home that must be defended like a holy relic. The Earth was absolutely round. I believe I never knew what the word round meant until I saw Earth from space.

  Across the sea of space, the stars are other suns.

  Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next 10.

  Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.

  Buy why, some say, the moon? Why choose this as our goal? And they may as well ask why climb the highest mountain?

  Houston, Tranquillity Base here. The Eagle has landed.

  Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.

  We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.

  Problems look mighty small from 150 miles up.

  The Earth was small, light blue, and so touchingly alone, our home that must be defended like a holy relic. The Earth was absolutely round. I believe I never knew what the word round meant until I saw Earth from space.

  Across the sea of space, the stars are other suns.

  Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next 10.

  Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.
</p>
<p>
  <%= link_to "Sign Up Now!", '#', class:"btn btn-primary btn-large" %>
</p>